# --- Игнорируем мусор и временные файлы ---
.git
.github
.idea
node_modules
npm-debug.log
yarn-error.log

# --- Laravel кэш / временные ---
storage/*.key
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/data/*
storage/logs/*

# --- Системные ---
docker-compose.yml
Dockerfile.dev

# --- НЕ УДАЛЯТЬ ---
!.env
!artisan
!composer.json
!composer.lock
