# Composer
/vendor/
composer.lock

# Node
/node_modules/
/pnpm-lock.yaml
/package-lock.json
/yarn.lock

# Laravel cache & compiled
/bootstrap/cache/
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*

# Laravel specific
.env
.env.*
!.env.example

# IDE & OS
/.idea/
/.vscode/
/nbproject/
.DS_Store
Thumbs.db

# NPM build output
/public/hot
/public/storage
/public/build
/public/mix-manifest.json

# PHPUnit
.phpunit.result.cache

# Coverage
/coverage/
/clover.xml

# Misc
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
