# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/framework/cache/*
/storage/framework/views/*
/storage/framework/sessions/*

.env
.env.backup
.env.local
.env.development
.env.testing
.aaaaa.txt

# SQLite local DB
/database/*.sqlite

# Docker (recommended)
docker-compose.yml
docker-compose.yaml

# Puppeteer browser binaries / cache
/.local-chromium
/.puppeteer
/.cache/puppeteer
**/puppeteer_dev_profile-*/
**/chrome-win*/
**/chrome-linux*/
**/chrome-mac*/

# PDF temp files
*.pdf
/temp
/tmp

# Logs
/storage/logs/*.log
npm-debug.log
yarn-debug.log
yarn-error.log

# OS garbage
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Compiled assets
/public/js/*.map
/public/css/*.map
